<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!--CSM Prod related values-->
    <add key="ActiveDirectoryEndpoint" value="https://login.windows.net/" />
    <add key="ResourceManagerEndpoint" value="https://management.azure.com/" />
    <add key="WindowsManagementUri" value="https://management.core.windows.net/" />
    <!--Make sure to replace with your own new GUID-->
    <add key="AdfClientId" value="your newly generated app GUID>" />
    <add key="RedirectUri" value="urn:ietf:wg:oauth:2.0:oob" />
    <!--Make sure to write your own tenant id and subscription ID here-->
    <add key="SubscriptionId" value="your subscription ID" />      
    <add key="ActiveDirectoryTenantId" value="your Active Directory tenant ID" />
  </appSettings>
</configuration>