name: Template Validation
on:
  pull_request_target:
    branches:
      - main

  workflow_dispatch:

jobs:
  validate:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Validate template
        uses: ./.github/actions/validate-template
        with:
          path: ${{ github.workspace }}
